.order-box {
    margin-top: 172px;
    border-bottom: 1px solid lightgray;
}

.order-box h2{
    color:red;
    font-size:35px;
}

.order-box button {
    background-color:#245b1d;
    color:white;
    border:none;
    width:44%;
    padding:7px;
    border-radius:6px;
}