.log-out[b-9r84s6gxau] {
    text-decoration: none;
    color: black;
    background-color: #13a900;
    padding: 6px;
    border-radius: 3px;
    font-family: cursive;
}

.register-button[b-9r84s6gxau] {
    text-decoration: none;
    color: white;
    background-color: #13a900;
    padding: 6px;
    border-radius: 3px;
    font-family: cursive;
}

.login-button[b-9r84s6gxau] {
    text-decoration: none;
    color: white;
    background-color: #13a900;
    padding: 6px;
    border-radius: 3px;
    font-family: cursive;
}
